$white-color: #fff;
$height100: 100%;

.logo-white-login {
  width: 55%;
  margin-top: -5px !important;
  margin-left: 20%;
  margin-right: auto;
}

ion-grid {
  width: 100%;
  height: $height100;
  background: #dfdfdf;
}

ion-row {
  height: $height100;
}

ion-col {
  border: 1px solid #488aff;
  background: $white-color;
}

ion-button {
  font-weight: 50;
  height: 40px;
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
    background: $white-color;
  }
  ion-col {
    border: none;
  }
}
