<ion-content padding>
  <div class="mg-top-15-percent">
    <div class="center padding-top-10-percent">
      <img
        src="./assets/img/icon.png"
        class="logo-white-login"
      >
    </div>
  </div>
  <form #u="ngForm">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col
          align-self-center
          size-md="6"
          size-lg="5"
          size-xs="12"
        >
          <div padding>
            <ion-item>
              <ion-input
                type="tel"
                placeholder="CPF"
                [brmasker]="{person: true}"
                [minlength]="14"
                [maxlength]="14"
                name="cpf"
                [(ngModel)]="user.cpf"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                type="password"
                placeholder="Senha"
                name="senha"
                [(ngModel)]="user.senha"
                required
              ></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-button
              size="large"
              expand="block"
              [disabled]="u.invalid"
              (click)="logar()"
            >
              Login
            </ion-button>
          </div>
          <div padding>
            Primeira Vez aqui?
            <ion-button
              size="large"
              [routerLink]="['/usuario']"
              expand="block"
              [disabled]="u.valid"
            >
              Cadastre-se
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
