<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cartão de Credito</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="cartao.id">
    <ion-grid
      [class.cardON]="cartao.status"
      [class.cardOFF]="!cartao.status"
    >
      <ion-row>
        <ion-col class="state">
          <div class="msg">
            <span
              [class.ON]="cartao.status"
              [class.OFF]="!cartao.status"
            ></span>
            Card {{cartao.status}}
          </div>
        </ion-col>
        <ion-col class="logo">
          <img
            class="brand"
            src="assets/img/mastercard.png"
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="chip">
          <img src="assets/img/chip.png">
        </ion-col>
      </ion-row>
      <ion-row class="digits">
        <ion-col class="number">{{a}}</ion-col>
        <ion-col class="number">{{b}}</ion-col>
        <ion-col class="number">{{c}}</ion-col>
        <ion-col class="number">{{b}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="name">{{cartao.nomeCliente}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="date">VALIDO ATE: {{cartao.expiraEm}}</ion-col>
        <ion-col class="bank">{{cartao.bancoCartao}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-card *ngIf="cartao.id">
    <ion-card-header>
      <ion-card-subtitle>
        Limite: {{money(cartao.limite, true, {format: 'R$', decimal: 2}, true)}}
      </ion-card-subtitle>
      <ion-card-title>
        Disponivel: {{money(cartao.limiteDisponivel, true, {format: 'R$', decimal: 2}, true)}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Valor Fatura: {{money(cartao.valorFatura, true, {format: 'R$', decimal: 2}, true)}}
    </ion-card-content>
  </ion-card>
  <ion-button
    *ngIf="!cartao.id"
    (click)="paginaSolicitaCartao()"
  >
    Solicite o Cartão
  </ion-button>
</ion-content>
