<ion-header>
  <ion-toolbar color="primary">
    <!-- Olá {{nomeUsuario.nome}}, veja as -->
    <ion-title>Ofertas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card
    button
    (click)="onClick('semana')"
  >
    <img src="./assets/img/ofertas_semana.png">
    <ion-card-header>
      <ion-card-subtitle>Oferta</ion-card-subtitle>
      <ion-card-title>Ofertas da Semana</ion-card-title>
    </ion-card-header>
    <ion-card-content>Awesome content</ion-card-content>
  </ion-card>

  <ion-card
    button
    (click)="onClick('dia')"
  >
    <img src="./assets/img/ofertas_semana.png">
    <ion-card-header>
      <ion-card-subtitle>Oferta</ion-card-subtitle>
      <ion-card-title>Ofertas do dia</ion-card-title>
    </ion-card-header>
    <ion-card-content>Awesome content</ion-card-content>
  </ion-card>

  <ion-card
    button
    (click)="onClick('mes')"
  >
    <img src="./assets/img/ofertas_semana.png">
    <ion-card-header>
      <ion-card-subtitle>Oferta</ion-card-subtitle>
      <ion-card-title>Ofertas do mês</ion-card-title>
    </ion-card-header>
    <ion-card-content>Awesome content</ion-card-content>
  </ion-card>
</ion-content>
