<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col
          align-self-center
          size-md="6"
          size-lg="5"
          size-xs="12"
        >
          <div text-center>
            <h4>Login Form</h4>
          </div>
          <div padding>
            <ion-item>
              <ion-input
                type="text"
                name="nome"
                placeholder="Nome"
                [(ngModel)]="user.nome"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="tel"
                placeholder="Cpf"
                [minlength]="14"
                [maxlength]="14"
                [brmasker]="{person: true}"
                name="cpf"
                required
                (ionChange)="utilService.validarCpf(user.cpf)"
                [(ngModel)]="user.cpf"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                name="email"
                [(ngModel)]="user.email"
                placeholder="e-Mail"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="password"
                name="senha"
                placeholder="Senha"
                [(ngModel)]="user.senha"
                required
              ></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button
              type="submit"
              size="large"
              expand="block"
              [disabled]="!f.valid"
              (click)="cadastrar(user)"
            >
              Salvar
            </ion-button>
          </div>
          <div padding>
            <ion-button
              type="submit"
              size="large"
              [routerLink]="['/login']"
              expand="block"
            >
              Cancelar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
