<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Solicitação de Cartao</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #s="ngForm">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col
          align-self-center
          size-md="6"
          size-lg="5"
          size-xs="12"
        >
          <div padding>
            <ion-item-divider color="secondary">
              <ion-label>Dados do Cliente</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Nome"
                name="nome"
                [(ngModel)]="cliente.nome"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="email"
                placeholder="e-mail"
                name="email"
                [(ngModel)]="cliente.email"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="tel"
                placeholder="Cpf"
                [maxlength]="14"
                [brmasker]="{person: true}"
                name="cpf"
                required
                (ionChange)="utilService.validarCpf(cliente.cpf)"
                [(ngModel)]="cliente.cpf"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-datetime
                displayFormat="DD/MM/YYYY"
                placeholder="Data de Nascimento"
                cancelText="Cancelar"
                doneText="OK"
                value="yyyy-MM-dd"
                max="{{ano18}}"
                name="dtNascimento"
                [(ngModel)]="cliente.dataNascimento"
                required
              ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-input
                type="tel"
                placeholder="Telefone"
                [brmasker]="{phone: true}"
                name="telefone"
                required
                [(ngModel)]="cliente.telefone"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Profissão"
                name="profissao"
                required
                [(ngModel)]="cliente.profissao"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="tel"
                placeholder="Renda Mensal"
                name="renda"
                [brmasker]="{money: true, thousand: ',',  decimalCaracter: '.', decimal: '2'}"
                required
                [(ngModel)]="cliente.rendaMensal"
              ></ion-input>
            </ion-item>
            <ion-item-divider color="secondary">
              <ion-label>Endereco</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-input
                type="tel"
                placeholder="CEP"
                name="cep"
                required
                (minlength)="8"
                (maxlength)="8"
                [(ngModel)]="cliente.cep"
                (ionChange)="buscarEndereco()"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Lougradouro"
                name="rua"
                required
                [(ngModel)]="cliente.logradouro"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Complemento"
                name="compl"
                [(ngModel)]="cliente.complemento"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Bairro"
                name="bairro"
                required
                [(ngModel)]="cliente.bairro"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Numero"
                name="numero"
                required
                [(ngModel)]="cliente.numero"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Localidade"
                name="loc"
                required
                disabled="true"
                [(ngModel)]="cliente.localidade"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Uf"
                minlength="2"
                maxlength="2"
                name="uf"
                required
                disabled="true"
                [(ngModel)]="cliente.uf"
              ></ion-input>
            </ion-item>
            <ion-item-divider color="secondary">
              <ion-label>Arquivo</ion-label>
            </ion-item-divider>
            <ion-radio-group
              allow-empty-selection
              name="opcao"
              [(ngModel)]="opcaoFoto"
            >
              <ion-list-header>
                <ion-label>Opções</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Foto</ion-label>
                <ion-radio
                  slot="end"
                  color="secondary"
                  name="f"
                  value="F"
                ></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Galeria</ion-label>
                <ion-radio
                  slot="end"
                  value="G"
                  name="g"
                  color="secondary"
                ></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div padding>
              <ion-button
                size="large"
                expand="block"
                (click)="takePicture()"
              >
                {{cliente.documento.length > 0 ? 'Anexado' : 'Anexar'}}
              </ion-button>
            </div>
          </div>
          <div padding>
            <ion-button
              size="large"
              expand="block"
              [disabled]="s.invalid"
              (click)="salvar()"
            >
              Salvar
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
