<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ofertas {{ofertasMesDiaSemana}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let item of ofertas">
      <!-- <ion-thumbnail slot="start"> -->
      <img
        [src]="item.imagem"
        style="max-width:310px;max-height:200px;"
      >
      <!-- </ion-thumbnail> -->
      <ion-card-header>
        <ion-card-subtitle>
          <h4>{{item.nomeProduto}}</h4>
        </ion-card-subtitle>
        <ion-card-subtitle>
          <span style="text-decoration:line-through;">
            {{money(item.precoAnterior, true,{format: 'R$', decimal: 2}, true)}}
          </span>
        </ion-card-subtitle>
        <ion-card-title>
          {{money(item.precoOferta, true, {format: 'R$', decimal: 2}, true)}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
