<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-tabs>
    <ion-tab-bar
      slot="bottom,top"
      color="primary"
    >
      <ion-tab-button tab="cartao">
        <ion-icon name="card"></ion-icon>
        <ion-label>Cartão</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="oferta">
        <ion-icon name="logo-usd"></ion-icon>
        <ion-label>Ofertas</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="solicitar-cartao">
        <ion-icon name="card"></ion-icon>
        <ion-label>Solicitar Cartão</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
